<!-- move this to coffee script -->
<script language="JavaScript">
  $(function(){
  
    $('#paintings_table').dataTable();
    
    $("#paintings_table").ready(function(){
      loadPaintings('paintings_table');
    });
   
    function loadPaintings(loading_div) {
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        cache: false,
        url: "<%= load_paintings_path %>",
        beforeSend: function() {
          $("#table_loading").css('visibility', 'visible')
        },
        success: function(json){
          $('#paintings_table').dataTable().fnClearTable();
          $('#paintings_table').dataTable().fnAddData(json.data);
          $('#paintings_table').dataTable().fnDraw();
        },
        error: function(data) {
          if (data.responseText != "{[]}") {
            alert("Failed to load data.")
          }
        },
        complete: function() {
          $('#table_loading').css('visibility', 'hidden')
        }
      });
    }
    
    $("#paintings_table tbody").sortable({
      cursor: "move",
      update: function(event, ui) {
        item_id = ui.item.attr("id")
        new_position = ui.item.index() + 1;
        
        $.ajax({
          type: 'POST',
          dataType: 'JSON',
          cache: false,
          url: "<%= reorder_paintings_path %>",
          data: {position: new_position, id: item_id},
          beforeSend: function() {
            $("#table_loading").css('visibility', 'visible')
          },
          success: function(json){
            ui.item.effect("highlight", {color: "#D1E2E5"}, 1000);
          },
          error: function(){
            alert("Unable to reorder item");
          },
          complete: function(){
            $('#table_loading').css('visibility', 'hidden')
          }
        });
      }
      
    })
  });
</script>
<div class="paintings">
  <div class="row">
    <div class="col-md-12">
      <h1>Paintings</h1>
    </div>
    <div class="col-md-8">
      <table id="paintings_table" class="bootstrap_table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Featured</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <%= render 'form' %>
    </div>
  </div>
</div>
