<div class="slick-carousel">
  <% featured_carousel %>
</div>
<script>
  $('.slick-carousel').slick({
    autoplay: true,
    //arrows: false,
    pauseOnHover: false,
    autoplaySpeed: 5000,
    fade: true,
    cssEase: 'linear',
    lazyLoad: 'progressive'
  });
</script>