<div class='footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-8 col-xs-6'>

      <div class='clearfix visible-xs'></div>
      <div class='col-sm-3  col-sm-offset- col-xs-6'>
        <div class='navbar-icons'>  
            <%= link_to "https://www.pinterest.com/jjwasham/", target: "_blank" do %>
              <span class="fa-stack pinterest">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-pinterest-p fa-stack-1x"></i>
              </span><% end %>
            <a href="#">
            <span class="fa-stack facebook">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            </a>
            <a href="#">
            <span class="fa-stack twitter">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            </a>
        </div>
        <h4 class='media-heading'>Showing At Gallery 322</h4>
          <address>
            322 North Market St.<br>
            Frederick, MD 21701<br>
            (240) 529-7743
          </address>
      </div>

  </div>
</div>